*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-custom-purple {
  background-color: #514574 !important; /* Tailwind's purple-400 */
}
.bg-purple-300 {
  background-color: #514574 !important; /* Tailwind's purple-400 */
}
.text-custom-purple {
  color: #514574;
}

.bg-purple-100{
  background-color: #7664ac !important;
  color: white !important;
}

.bg-light-grey{
  background-color: #514574;
}

.profileImage{
  height:50px;
  width: 50px;
  border-radius: 50%;
  padding: 1px;
  border: black 2px solid;
  outline: none;
}

img{
  border-radius: 50%;
  height: 100%;
}